{% extends "shared/base.html" %} {% block title %}Log New Call{% endblock %} {%
block content %}

<h1 align="center">Log New Call</h1>
<form method="POST">
  <div class="form-group">
    <label for="customer_name">Customer Name</label>
    <input
      type="text"
      class="form-control"
      id="customer_name"
      name="customer_name"
      required
    />
  </div>
  <div class="form-group">
    <label for="account_number">Account Number</label>
    <input
      type="text"
      class="form-control"
      id="account_number"
      name="account_number"
      required
    />
  </div>
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input
      type="text"
      class="form-control"
      id="postcode"
      name="postcode"
      required
    />
  </div>
  <div class="form-group">
    <label for="reason_called">Reason for Call</label>
    <select
      class="form-control"
      id="reason_called"
      name="reason_called"
      required
    >
      <option value="" disabled selected>Select reason</option>
      <option value="Sale">Sale</option>
      <option value="Withdrawal">Withdrawal</option>
      <option value="General Enquiry">General Enquiry</option>
      <option value="Complaint">Complaint</option>
      <option value="Online Support">Online Support</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
