{% extends "shared/base.html" %} {% block title %}Home{% endblock %} {% block
content %}
<h1 align="center">Atos Call Logger</h1>
</br>

<div class="row">
  <!-- Add New Call Section -->
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add New Call</h5>
        <p class="card-text">
          Select this option if you need to log a new call into the system.
        </p>
        <a href="/add-call" class="btn btn-primary">Add</a>
      </div>
    </div>
  </div>

  {% if user.is_admin %}
    <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Admin - Manage Users</h5>
        <p class="card-text">
          Select this option if you need to manage users.
        </p>
        <a href="/users" class="btn btn-primary">Manage Users</a>
      </div>
    </div>
  </div>  
  {% endif %}



  <!-- View Call Logger Section -->
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Call Logger</h5>
        <p class="card-text">
          View or modify a call that has already been logged.
        </p>
        <a href="/calls" class="btn btn-primary">View/Modify</a>
      </div>
    </div>
  </div>

  <!-- Manage Customers section -->
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage Customers</h5>
        <p class="card-text">
          View or edit customer details in the system.
        </p>
        <a href="/customers" class="btn btn-primary">Manage Customers</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
