{% extends "shared/base.html" %} {% block title %}Home{% endblock %} {% block
content %}
<h1 align="center">Atos Call Logger</h1>
</br>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add New Call</h5>
        <p class="card-text">
          Select this option if you need to log a new call into the system.
        </p>
        <a href="/add-call" class="btn btn-primary">Add</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Call Logger</h5>
        <p class="card-text">
          View or modify a call that has already been logged.
        </p>
        <a href="/calls" class="btn btn-primary">View/Modify</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
