{% extends "shared/base.html" %} {% block title %}Call Logger Record{% endblock
%} {% block content %}

<h1 align="center">Call Logger Record</h1>
</br>
<!-- Search Bar -->
<form method="GET" action="{{ url_for('views.view_calls') }}" class="mb-3">
  <div class="d-flex">
  <!-- Search Input -->
  <input type="text" name="call_search" class="form-control" placeholder="Search by Call ID or Call Reason" value="{{ request.args.get('call_search', '') }}">
  <!-- Search Button -->
  <button type="submit" class="btn btn-primary ml-2">Search</button>
    
  <!-- Reset Button (Displays all customers again) -->
    <a href="{{ url_for('views.view_calls') }}" class="btn btn-secondary ml-2">Reset</a>
  </div>
</form>

</br>


<table class="table">
  <thead>
    <tr>
      <!--Table columns that will display on the screen-->
      <th>Call ID</th>
      <th>First Name</th>
      <th>Surname</th>
      <th>Account Number</th>
      <th>Postcode</th>
      <th>Reason for Call</th>
      <th>Date/Time of Call</th>
      <th>Employee</th>
      <th>Modify</th>
    </tr>
  </thead>
  <!--Table row that will display on screen (each induvidual call)-->
  <tbody>
    {% for call in calls %}
    <tr>
      <td>{{ call.id }}</td>
      <td>{{ call.customer.first_name | title }}</td>
      <td>{{ call.customer.last_name | title }}</td>
      <td>{{ call.customer.account_number }}</td>
      <td>{{ call.customer.postcode | upper }}</td>
      <td>{{ call.reason_called }}</td>
      <td>{{ call.date.strftime('%d-%m-%Y %H:%M:%S') }}</td>
      <td>
        {{ call.user.first_name | title }} {{ call.user.last_name | title }}
      </td>
      <!-- Modify user data -->
      <td>
        <!-- Edit option -->
        <a href="{{ url_for('views.edit_call', id=call.id) }}">
          <i class="bi bi-pencil-fill"></i>
        </a>
        <!-- Delete option (only appears if user is logged in as admin) -->
        {% if current_user.is_admin %}
        <a
          href="{{ url_for('views.delete', id=call.id) }}"
          onclick="return confirm('Are you sure you want to delete this call?');"
        >
          <i class="bi bi-trash-fill"></i>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}







